.*
!.git
!.env
**/*.md
**/*_test.go
**/testdata
build
examples
schema
tools
Dockerfile.*
infracost-example.yml
infracost-usage-defaults.large.yml
infracost-usage-defaults.medium.yml
infracost-usage-defaults.small.yml
LISENCE
