version: 0.1
autodetect:
  include_dirs:
    - apps/bat
    - apps/baz
    - apps/.hidden
    - apps/wildcard/**

projects:
{{- range $project := .DetectedProjects }}
  - path: {{ $project.Path }}
    name: {{ $project.Name }}
    terraform_var_files:
    {{- range $varFile := $project.TerraformVarFiles }}
      - {{ $varFile }}
    {{- end }}
{{- end }}
