version: 0.1
resource_usage:
{{- if .WithHelp }}
# If {{ .ResourceName }} has any defined usage parameters uncomment the lines below.
# Then add your configurations making sure to change the names of resource/usage params.
# {{ .CloudProvider }}_{{ .Filename }}.{{ .Filename }}:
#   my_usage_parameter: 100000000
{{ end }}
