name: Upload Release Asset (test)

on:
  pull_request:
    branches: [ master ]

jobs:
  build:
    name: Upload Release Asset (test)
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - name: Set up Go 1.x
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - name: Build project
        run: |
          make release

      - name: Release
        run: go run tools/release/main.go
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Remove build assets
        run: rm -rf build

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ${{ secrets.DOCKER_ORG }}/${{ secrets.DOCKER_REPOSITORY }}
          tags: |
            type=raw,value=release-test

      - name: Build and push Docker images
        uses: docker/build-push-action@v4
        id: build_push_docker
        with:
          context: .
          platforms: linux/amd64
          tags: ${{ steps.meta.outputs.tags }}
          push: true

      - name: Clean Docker build cache
        run: docker builder prune -af

      - name: Docker meta (CI)
        id: meta-ci
        uses: docker/metadata-action@v5
        with:
          images: |
            ${{ secrets.DOCKER_ORG }}/${{ secrets.DOCKER_REPOSITORY }}
          flavor: |
            prefix=ci-,onlatest=true
          tags: |
            type=raw,value=release-test

      - name: Build and push Docker images (CI)
        uses: docker/build-push-action@v4
        with:
          context: .
          file: Dockerfile.ci
          platforms: linux/amd64
          tags: ${{ steps.meta-ci.outputs.tags }}
          push: true
