name: Go

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.x
      uses: actions/setup-go@v2
      with:
        go-version: 1.15
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    - name: Get dependencies
      run: |
        go get -v -t -d ./...

    - name: Check out terraform-provider-infracost@master
      uses: actions/checkout@v2
      with:
        repository: infracost/terraform-provider-infracost
        ref: refs/heads/master
        path: terraform-provider-infracost

    - name: Install terraform-provider-infracost
      run: sudo make install
      working-directory: terraform-provider-infracost

    - name: Run golangci-lint
      uses: golangci/golangci-lint-action@v1.2.1
      with:
        # Required: the version of golangci-lint is required and must be specified without patch version: they always use the latest patch version.
        version: v1.27

    - name: Test
      run: make test

    - name: Test example works ok
      run: make run ARGS="--tfdir examples/terraform"
